*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%; 
    color: black;
}

body {
    background-color:#6a88b8 ;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #4FB7B3;
    width:400px;
    border-radius: 20px;
    padding: 0.5em 2em;
    height: 600px; 
    position:relative;
    overflow: auto;
}

h1 {
    text-align: center;
}

.divider {
    margin-bottom: 0.5em;
    border-bottom: 2px solid black;
}

.bottom {
    position: absolute;
    bottom:0.5em;
    right:2em;
}

button {
    border-radius: 20px;
    padding: 5px;
    background-color: #637AB9;
    border: 0;

}

.testing {
    border-radius: 20px;
    padding: 0.5em 1em;
    background-color: #A8FBD3;
    border: 2px solid rgba(0, 0, 0, 0.3);
}